.contacts {
    padding-top: 60px;
    background-color: $darkgray;
    background-image: url(../images/contacts_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }