.contacts {
  background-color: $darkgray;
  background-image: url(../images/contacts_bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

// .contacts__form-title {
//   margin-bottom: 42px;
//   padding-top: 60px;
//   padding-bottom: 0;
//   line-height: 28px;
//   color: $white;
// }

.contacts__form-areas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts__form-areas--info {
  width: 270px;
  height: 44px;
  margin-bottom: 24px;
  padding-left: 22px;
  border-radius: 5px 5px;
  color: $gray;
}

.contacts__form-areas--text {
  width: 270px;
  height: 176px;
  padding: 22px 14px;
  margin-bottom: 44px;
  border-radius: 5px 5px;
  color: $gray;
}

.contacts__form-btn {
  display: block;
  margin: 0 auto;
  width: 170px;
  height: 52px;
  margin-bottom: 56px;
  background-color: $blue;
  @include font('OpenSans', 22px, 500, uppercase);
  line-height: 24px;
  color: $white;
  border-radius: 5px 5px;
}

.contacts__list-title {
  text-align: center;
  @include font('Raleway', 24px, 500, none);
  color: $white;
  margin-bottom: 8px;
}

.contacts__list-descript {
  text-align: center;
  @include font('OpenSans', 14px, 500, none);
  line-height: 21px;
  color: $gray;
}

.contacts__list {
  @extend %list-type-vertical-menu;
  width: 160px;
  min-height: 46px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.contacts__list-item {
  width: 44px;
  height: 44px;
  border-radius: 50px 50px;
}

.contact__list-svg {

}

.contacts__info {
  margin-bottom: 50px;
  @include font('OpenSans', 14px, 500, none);
  line-height: 24px;
  color: $violet;
}

.contacts__text {
  padding-top: 22px;
  padding-bottom: 20px;
  border-top: 1px solid $gray;
  @include font('OpenSans', 14px, 400, none);
  line-height: 21px;
  color: $gray;
  text-align: left;
}

