.page-menu {
    margin: 0;
    padding: 0;

    @media (max-width: 767px) {
        display: none;
    }

    @media (min-width: 768px) {
        list-style: none;
        display: flex;
        justify-content: space-between;

        width: 450px;
    }
}

.page-menu_item-link {
    @include font('Open Sans', 13px, 700, uppercase);

    color: $gray;

    &--hover:hover, &--hover:focus {
        color: $black;
    }
}